<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>產銷履歷</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" /> 
    <link rel="stylesheet" href="~/css/Pedigree.css" asp-append-version="true" />
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
