<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WelCome</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toolbar.css" asp-append-version="true" />

    <script type="text/javascript" src="~/js/toolbar.js" ></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 100px;
        }
 
        ::-webkit-scrollbar-thumb {
            background-color: #4CAF50;
            border-radius: 100px;
        }
    </style>

    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    
    <div id="mask" onclick="toolmove_close()"></div>
    <div id="toolbar">

        <div id="bar_title">
            <p id="title_name">UserName: </p>
            <p id="title_permission">Permission: </p>
        </div>

        <div class="tool_items" onclick="div_active(1)"><img src="/img/baseline_arrow_left_black_48dp.png" class="tool_img"/><p>訂單管理</p></div>
        <div class="tool_div">
            <div class="div_itmes">
                <a onclick="change_page(1)"><div><p>訂單資訊</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>銷售紀錄查詢</p></div></a>
            </div>
        </div>

        <div class="tool_items" onclick="div_active(2)"><img img src="/img/baseline_arrow_left_black_48dp.png" class="tool_img"/><p>產品管理</p></div>
        <div class="tool_div">
            <div class="div_itmes">
                <a href="#"><div><p>商品資訊</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>存貨孝期查詢</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>履歷查詢</p></div></a>
            </div>
        </div>

        <div class="tool_items" onclick="div_active(3)"><img img src="/img/baseline_arrow_left_black_48dp.png" class="tool_img"/><p>人員管理</p></div>
        <div class="tool_div">
            <div class="div_itmes">
                <a href="#"><div><p>員工</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>設備</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>廠商</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>顧客</p></div></a>
            </div>
        </div>

        <div class="tool_items" onclick="div_active(4)"><img img src="/img/baseline_arrow_left_black_48dp.png" class="tool_img"/><p>地點管理</p></div>
        <div class="tool_div">
            <div class="div_itmes">
                <a href="#"><div><p>基本資料</p></div></a>
            </div>
            <div class="div_itmes">
                <a href="#"><div><p>貨運物流</p></div></a>
            </div>
        </div>
    </div>

    <div id="header">
        <img id="left_img" src="/img/baseline_menu_white_48dp.png" onclick="toolmove_onstart()"/>
        <a asp-page="/Index" id="right_img">
            <img src="/img/baseline_logout_white_48dp.png"/>
        </a>
    </div>

    <!-- 以上toolbar相關 -->

    <div id="container">
        @RenderBody()
    </div>

    <div id="footer">
        <p>Three In One Enterprises Co., Ltd. Made by Light0986.</p>
        <p>Copyright © 20xx Three-In-One. All Rights Reserved.</p>
    </div>

</body>
</html>