@page
@model IndexModel
@{
    //我是第一頁
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}
<div id="login_container">
    <form id="login_div" method="post">
        <div>
            <p>Account:</p>
            <input id="an" name="accountName" type="text" value="@Model.AccountName"/>
        </div>
        <br />
        <div>
            <p>PassWord:</p>
            <input id="pw" name="password" type="password" value=""/>
        </div>
        <div>
            <button type="submit">登入</button>
            <p id="err_text">@TempData["err_text"]</p>
        </div>
    </form>
</div>

